{% extends "rango/base.html" %}
<!--<!DOCTYPE html>

{% load staticfiles %} -->

<!--<html>
	<head>
		<title>Rango</title>
	</head>-->
{% block title %}Welcome to Rango!{% endblock %}

{% block body_block %}
	<!--<body>-->
		<h1>Rango says...</h1>
		<div>
			<!-- hey there partner! <!--<br />-->
		<!--<strong>{{ boldmessage }}</strong><br />-->
			{% if user.is_authenticated %}
				howdy {{ user.username }}!
			{% else %}
				hey there partner!
			{% endif %}
		</div>
		<div>
			<h2>Most Liked Categories</h2>
				{% if categories %}
				<ul>
					{% for category in categories %}
					<li>
						<!--<a href="/rango/category/{{ category.slug }}">{{ category.name }}</a>-->
						<a href="{% url 'show_category' category.slug %}">
								{{ category.name }}
						</a>
					</li>
					{% endfor%}
		</ul>
		{% else %}
			<strong>There are no categories present.</strong>
		{% endif %}
		</div>

		<div>
			<h3>Most Viewed Pages</h3>
		        {% if pages %}
		        <ul>
		            {% for page in pages %}
		            <li><a href="{{ page.url}}">{{ page.title }}</a></li>
		            {% endfor %}
		        </ul>
		        {% else %}
		        <strong>No pages at present.</strong>
		        {% endif %}
		</div>

		<div>
			<!--<a href="/rango/about/">About</a><br />
			<a href="/rango/add_category/">Add a New Category</a><br />-->
			<img src="{% static "images/rango.jpg" %}"
				alt="Picture of Rango" /> <!-- New Line-->
		</div>
{% endblock %}

	<!--</body>

</html>-->
